<!-- view/layout/base.html -->
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Jogo de Xadrez</h1>
    </header>

    <main>
        {{block "content" .}}{{end}}

	<form action="/move" method="POST">
		De: <input name="from" type="text" placeholder="ex: e2" required>
		Para: <input name="to" type="text" placeholder="ex: e4" required>
		<button type="submit">Mover</button>
	</form>
    </main>

    <footer>
    </footer>
</body>
</html>
{{end}}
